.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 10px;
  margin: 10px auto;
  background-color:#eee;
  border-radius: 6px;
  max-width: 100%;
}
.lead {
  font-size: 18px;
  min-height: 80px;
  margin-bottom:15px;
  font-weight:200
}
@media screen and (min-width: 768px) {
  .jumbotron {
    border-bottom: 0;
  }
}
