.carousel {
  margin-top: 10px;
}

.item {
  display: block;
  text-align: center;
  height: 230px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .item {
    height: 350px;
  }
}
