extends ./_layout.jade

block variables
  - var name = 'Rebecca Miller'
  - var key = 'rebecca'
  - var description = 'healthcare transformation leader and nationally certified integrative health coach'
  